<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>server-demo</display-name>
  <context-param>
    <param-name>max-shopping-cart-size</param-name>
    <param-value>99</param-value>
  </context-param>
  <context-param>
    <param-name>team-name</param-name>
    <param-value>coding guru</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorldServlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.demo.servletdemo.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRec</display-name>
    <servlet-name>StudentRec</servlet-name>
    <servlet-class>com.demo.servletdemo.StudentRec</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRec</servlet-name>
    <url-pattern>/StudentRec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>webxml_TestServlet</display-name>
    <servlet-name>webxml_TestServlet</servlet-name>
    <servlet-class>com.demo.servletdemo.webxml_TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>webxml_TestServlet</servlet-name>
    <url-pattern>/webxml_TestServlet</url-pattern>
  </servlet-mapping>
</web-app>